.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10rem 5rem;
}

.card .card-description {
  font-size: 1rem;
}

.card .card-details {
  margin: 1rem;
}

.card .card-icon {
  width: 2rem;
  height: auto;
}

.card .card-icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.card .card-link {
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 100;
}

.card .card-title {
  font-size: 1.8rem;
}

.card ul {
  list-style: none;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  padding: 2rem 5rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 0px 1px;
  height: auto;
}

.nav-links {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.nav .nav-link a {
  margin: 0 0.5rem;
  color: #000000;
  text-decoration: none;
}

.nav .nav-logo {
  font-family: 'Alex Brush', cursive;
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}

.nav ul {
  list-style: none;
}

.portfolio-name {
  font-family: 'Alex Brush', cursive;
  font-size: 5rem;
  font-weight: lighter;
  margin: 10rem;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
}

/* tablet + destop */
@media only screen and (min-width: 992px) {
  .card {
    display: flex;
    flex-direction: row;
  }

  .card .card-details {
    width: 40%;
    padding-top: 7rem;
  }

  .card .card-image {
    height: auto;
    width: 60%;
  }

  .nav .nav-links {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
}
